@mixin h1 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-size: $_64px;
  line-height: 75px;
  color: #FFFFFF;
  text-transform: uppercase;
}
@mixin h2 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: $_36px;
  line-height: 42px;
}
@mixin h3 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: $_30px;
  line-height: 35px;
}
@mixin h4 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-size: $_24px;
  line-height: 28px;
  text-transform: uppercase;
}
@mixin h5 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: $_18px;
  line-height: 21px;
}
@mixin h6 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: $_13px;
  line-height: 15px;
  color: #FFFFFF;
}
@mixin btn-normal {
  position: relative;
  width: 370px;
  height: 80px;
  color: #FFFFFF;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 28px;
  background: #FF4343; 
  text-transform: uppercase;
}
@mixin btn-hover {
  position: relative;
  width: 370px;
  height: 80px;
  color: #FFFFFF;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 28px;
  background: #E71414; 
  text-transform: uppercase;
}