.contact {
  padding: 71px 0;
  background: #353C65;
}
.contact-wrap {
  display: flex;
  margin: 0 -15px;
  @media (max-width: 776px) {
    flex-direction: column;
    align-items: center;
  }
}
.contact-item {
  
		// .contact-item__location

		&__location {
      width: 370px;
      @media (max-width: 776px) {
        margin-bottom: 70px;
      }
		}

		// .contact-item__social

		&__social {
      width: 370px;
      @media (max-width: 776px) {
        margin-bottom: 70px;
      }
		}
}
.contact-item__about {
  width: 370px;
  @media (max-width: 500px) {
    max-width: 100%;
  }
}
.contact-title {
  margin-bottom: 30px;
  @include h5;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  @media (max-width: 776px) {
    font-size: $_14px;
  }
}
.contact-text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  text-align: center;
  @media (max-width: 776px) {
    font-size: $_14px;
  }
}
.list-team {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  transition: 0.3s;

		// .list-team__icon

		&__icon {
      &:nth-child(2) {
        margin: 0 26px;
      }
		}
}
.fa-brands {
}
.fa-facebook-f {
}
.fa-twitter {
}
.fa-linkedin {
}

